<h3>新建班级，导入学生</h3>

<%= form_tag('/tools/do_import_students', multipart: true) do %>
	班级名称：<%= text_field_tag 'school_class' %>
	<br/>
	<br/>
	学生名单文件：
	<br/>
	<br/>
	<%= file_field_tag 'students' %>
	<br/>
	<br/>
	<%= submit_tag '提交' %>
<% end %>